body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    margin: auto;
    width: 400px;
}

#container h1 {
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

#game-panel {
    margin: auto;
    width: 300px;
    height: 300px;
}

.btn-game {
    width: 45%;
    height: 45%;
    float: left;
    /* opacity: 0.5;
    transition: 0.5s; */
    border: 4px solid;
}

.btn-game:hover {
    /* opacity: 1;
    transition: 0.5s; */
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.btn-red {
    background-image: linear-gradient(to bottom right, #840000, red);
    border-color: #840000;
    border-radius: 50% 0 10% 0;
    margin: 0 2% 2% 0;
}

.btn-green {
    background-image: linear-gradient(to bottom left, #003a00, green);
    border-color: #003a00;
    border-radius: 0 50% 0 10%;
    margin: 0 0 2% 2%;
}

.btn-blue {
    background-image: linear-gradient(to top right, #000088, blue);
    border-color: #000088;
    border-radius: 0 10% 0 50%;
    margin: 2% 2% 0 0;
}

.btn-yellow {
    background-image: linear-gradient(to top left, #beb319, yellow);
    border-color: #beb319;
    border-radius: 10% 0 50% 0;
    margin: 2% 0 0 2%;
}

#game-info {
    padding: 15px;
    text-align: center;
}

#game-info button {
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#game-info button:hover {
    background-color: #cccccc;
}

#game-info p {
    padding: 15px;

}

#game-info span {
    font-weight: bold;
}

.hidden {
    display: none;
}

.fadeIn {
    /* opacity: 1;
    transition: 0.5s; */
    opacity: 0.5;
    transition: 0.5s;
}